## 포맷팅

### %

In [1]:
# 작성 순서대로 포맷에 맞춰서 입력됨
print("내 이름은 %s이고 %d살이고 원주율은 %.2f입니다." % ("홍길동",4, 3.14))

내 이름은 홍길동이고 4살이고 원주율은 3.14입니다.

### Format

In [2]:
# 별다른 설정 없으면 순서대로 들어감
print("내 이름은 {}이고 나이는 {}살이고 키는 {}입니다.".format("홍길동",24,171.1))

#변수 설정
print("나의 단짝 {b}은 {a}보다 키가 {c:.2f}cm 큽니다.".format(a="홍길동",b="고길동",c=1.256))

#입력 숫자 순서로 순서 인덱스
print("1등은 {2}, 2등은 {1} 3등은 {0}입니다.".format("홍길동","고길동","길길동"))

# {}표시 해주고 싶을 때(이스케이프 문자)
print("나의 단짝은 {{{}}}입니다.".format("홍길동"))

내 이름은 홍길동이고 나이는 24살이고 키는 171.1입니다.
나의 단짝 고길동은 홍길동보다 키가 1.26cm 큽니다.
1등은 길길동, 2등은 고길동 3등은 홍길동입니다.
나의 단짝은 {홍길동}입니다.

In [3]:
print("이름은 {}, 나이는{}, 키는 {}입니다.".format("홍길동",20,171.1))

이름은 홍길동, 나이는20, 키는 171.1입니다.

### f-string

In [4]:
math = "수학"
student = 20
score = 84.51
print(f"{math}수업을 듣는 학생 수는 총 {student}명이고 평균 점수는{score:.1f}입니다.")

수학수업을 듣는 학생 수는 총 20명이고 평균 점수는84.5입니다.

In [5]:
name = "홍길동"
age = 20
height = 171.12

print(f"이름은 {name}, 나이는 {age}, 키는 {height:.1f}입니다.")

이름은 홍길동, 나이는 20, 키는 171.1입니다.

## 키워드, 식별자, 변수, 상수, 리터럴

In [6]:
integer_literal = 100
print("정수 리터럴", integer_literal)

strings_literal = "This is Python"
print("문자 리터럴", strings_literal)

bool_literal = (1==True)
print("불 리터럴", bool_literal)

special_literal = None
print("특수 리터럴", special_literal)

정수 리터럴 100
문자 리터럴 This is Python
불 리터럴 True
특수 리터럴 None

In [7]:
s1 = r'C:\name'
s2 = 'C:\\name'

print(s1)
print(s2)

C:\name
C:\name

In [8]:
"""Hello, World!
Hello, World!
Python Programing
"""

'Hello, World!\nHello, World!\nPython Programing\n'

In [9]:
var1 = "hello"
var2 = "world!"
print(var1, var2)

hello world!

In [10]:
"""안녕하세요.
오늘은 파이썬 수업을 하고 있습니다.
즐거운 시간이 될 것 같아요!"""

'안녕하세요.\n오늘은 파이썬 수업을 하고 있습니다.\n즐거운 시간이 될 것 같아요!'

In [11]:
""""안녕하세요".
'오늘'은 파이썬 수업을 하고 있습니다.
즐거운 시간이 될 것 같아요! 
"""

'"안녕하세요".\n\'오늘\'은 파이썬 수업을 하고 있습니다.\n즐거운 시간이 될 것 같아요! \n'